services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=station_db
      - POSTGRES_USER=station_admin
      - POSTGRES_PASSWORD=station_secret_pass

  app:
    build:
      context: .
    ports:
      - "8002:8000"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
      - DB_HOST=db
      - DB_NAME=station_db
      - DB_USER=station_admin
      - DB_PASS=station_secret_pass
    depends_on:
      - db
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"

volumes:
  postgres_data: